# Imports

In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

import twint

# Fixes runtime errors with twint
import nest_asyncio
nest_asyncio.apply()

from textblob import TextBlob

import matplotlib
%matplotlib inline

# Load Dataframes

In [71]:
jan = pd.read_csv('Datasets/january_tweets.csv', index_col=0)
jan.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1212523886329380865,1.212524e+18,1577923196000,2020-01-01,SpongeBob: slides down Sand Mountain\nThe tree...,[],1.099210e+18,Matt04181,Matt0417 (CEO of POOP),https://twitter.com/Matt04181/status/121252388...,False,4,0.0,0.0,NaN,NaN,"[{'user_id': '1099209894295678977', 'username'..."
1,1212523880558026753,1.212524e+18,1577923195000,2020-01-01,"Started 2020 with freshly washed bed sheets, a...",[],5.777754e+07,standtallx,Emma üßõüèª‚Äç‚ôÄÔ∏è,https://twitter.com/standtallx/status/12125238...,False,3,2.0,0.0,NaN,NaN,"[{'user_id': '57777541', 'username': 'standtal..."
2,1212523828888449024,1.212421e+18,1577923183000,2020-01-01,Using the coverage of his yellow card to mask ...,"['#classicjose', '#coverup']",3.466098e+08,5_Times_LFC,6 Times LFC,https://twitter.com/5_Times_LFC/status/1212523...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '346609834', 'username': '5_Times..."
3,1212523807128186882,1.212403e+18,1577923177000,2020-01-01,The mask pic.twitter.com/vHi9pC9S62,[],1.070006e+18,kagura_shelby,mugiwara no,https://twitter.com/kagura_shelby/status/12125...,False,3,0.0,0.0,NaN,NaN,"[{'user_id': '1070005555777945600', 'username'..."
4,1212523752925229056,1.212513e+18,1577923164000,2020-01-01,"I know what you mean, I've been depressed too ...",['#hugs'],4.865904e+07,IBdaSweet1,Luwamba L.J.Taylor,https://twitter.com/IBdaSweet1/status/12125237...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '48659042', 'username': 'IBdaSwee..."

In [72]:
jan['date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       'Dream Doctor¬Æ', '2020-01-05', '2020-01-06', '2020-01-07',
       '2020-01-08', nan, 'We The Curators', '2020-01-09', '2020-01-10',
       '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14',
       '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-18',
       '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       '2020-01-31'], dtype=object)

In [73]:
jan.shape

(487435, 17)

In [74]:
jan.isna().sum()

id                  10674
conversation_id     10674
created_at          10674
date                10674
tweet               10674
hashtags            21349
user_id             21349
username            21349
name                21365
link                21351
retweet             21351
nlikes              21349
nreplies            21351
nretweets           21351
quote_url          446776
retweet_id         487435
reply_to            21351
dtype: int64

In [25]:
feb = pd.read_csv('Datasets/february_tweets.csv', index_col=0)
feb.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,4,5,6,8,9,10,11,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1223757879305367552,1.223758e+18,1580601589000,2020-02-01,"Bought Bruno Fernandes, play him at CDM? Wtf a...",[],2.221553e+09,chong_wh96,Chong_wH,https://twitter.com/chong_wh96/status/12237578...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '2221552537', 'username': 'chong_..."
1,1223757878827159552,1.223758e+18,1580601589000,2020-02-01,My sister sent me $90 worth of face masks and ...,[],3.075768e+09,Yamanik30,ACAB,https://twitter.com/Yamanik30/status/122375787...,False,6,0.0,0.0,NaN,NaN,"[{'user_id': '3075767827', 'username': 'Yamani..."
2,1223757871751426049,1.223758e+18,1580601587000,2020-02-01,Because Nigeria is currently 51% Muslim and th...,[],2.184187e+07,Dimplez,Dimplez üá≥üá¨,https://twitter.com/Dimplez/status/12237578717...,False,16,0.0,3.0,https://twitter.com/JesseLehrich/status/122336...,NaN,"[{'user_id': '21841872', 'username': 'Dimplez'}]"
3,1223757866911326209,1.223758e+18,1580601586000,2020-02-01,When you were a mask to stop the cronavirus bu...,[],1.209989e+18,Harry31348302,Harry,https://twitter.com/Harry31348302/status/12237...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1209988745790918656', 'username'..."
4,1223757863627018241,1.223757e+18,1580601585000,2020-02-01,This 'MeshGraphic' implementation supports:\n\...,[],1.478940e+09,Softdrink_117,Softdrink 117,https://twitter.com/Softdrink_117/status/12237...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1478940204', 'username': 'Softdr..."

In [35]:
feb.shape

(626691, 17)

In [26]:
feb.isna().sum()

id                  42530
conversation_id     42530
created_at          42530
date                42530
tweet               42530
hashtags            72125
user_id             72125
username            72127
name                72143
link                72131
retweet             72131
nlikes              72125
nreplies            72131
nretweets           72131
quote_url          581219
retweet_id         626691
reply_to            72131
dtype: int64

In [36]:
feb['date'].unique()

array(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', 'jack', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', 'KennyWonKenOhBe', '2020-02-14', '2020-02-15',
       '2020-02-16', '2020-02-17', 'AsiaNews EN', '2020-02-18', 'Femina',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', nan, 'We The Curators', '2020-02-24', '2020-02-25',
       '2020-02-26', '2020-02-27', '2020-02-28', 'Vivian Kwan',
       '2020-02-29'], dtype=object)

In [31]:
mar01 = pd.read_csv('Datasets/march01_tweets.csv', index_col=0)
mar01.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1234267158877818880,1.234266e+18,1583107196000,2020-03-01,Wearing a mask on a train track somewhere in B...,[],1.222977e+18,KirkP31369321,Kirks Poutine,https://twitter.com/KirkP31369321/status/12342...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '1222977020705091588', 'username'..."
1,1234267142259953664,1.234267e+18,1583107192000,2020-03-01,Were willing to start wearing surgical masks e...,[],1.317655e+09,KCUNLEASHED96,KC UNLEASHED96,https://twitter.com/KCUNLEASHED96/status/12342...,False,0,0.0,0.0,https://twitter.com/sssniperwolf/status/123426...,NaN,"[{'user_id': '1317654776', 'username': 'KCUNLE..."
2,1234267140955336704,1.234254e+18,1583107192000,2020-03-01,"It's target are your lungs, don't give it acce...",[],3.199808e+09,1spark780,Judy,https://twitter.com/1spark780/status/123426714...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '3199808368', 'username': '1spark..."
3,1234267136018665472,1.234259e+18,1583107191000,2020-03-01,The new police issue masks might not prevent c...,[],3.931759e+09,hueman_being,Ken Parker,https://twitter.com/hueman_being/status/123426...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '3931759154', 'username': 'hueman..."
4,1234267124304154625,1.234267e+18,1583107188000,2020-03-01,hey i‚Äôm sad so i‚Äôm gonna do a face mask and th...,[],4.252255e+08,beratings,baby bug,https://twitter.com/beratings/status/123426712...,False,14,1.0,0.0,NaN,NaN,"[{'user_id': '425225495', 'username': 'beratin..."

In [33]:
mar01.shape

(737002, 17)

In [448]:
apr_10k = pd.read_csv('10k_Datasets/10k_april_tweets.csv', index_col=0)
apr_10k.shape

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,8,9,10,11,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(334598, 17)

In [450]:
apr_10k['date'].unique()

array(['2020-04-01', '2020-04-02', '2020-04-03', nan, 'Thomas Paine ‚úä',
       '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
       '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
       '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
       '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
       '2020-04-28', '2020-04-29', '2020-04-30'], dtype=object)

In [ ]:
mar28_10k = pd.read_csv('Datasets/alt_search_march17_tweets.csv', index_col=0)
mar28_10k.shape

# Clean Data

In [76]:
jan_clean = jan.copy()

In [78]:
jan_clean.shape

(487435, 17)

In [79]:
jan_clean.dropna(how='all', inplace=True)
jan_clean.shape

(476761, 17)

In [81]:
jan_clean['date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       'Dream Doctor¬Æ', '2020-01-05', '2020-01-06', '2020-01-07',
       '2020-01-08', 'We The Curators', '2020-01-09', '2020-01-10',
       '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14',
       '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-18',
       '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       '2020-01-31'], dtype=object)

In [85]:
jan_clean[jan_clean['date'] == 'We The Curators']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
98304,[],2.991984e+09,WeTheCurators2,We The Curators,https://twitter.com/WeTheCurators2/status/1214...,False,0.0,0,0,NaN,NaN,"[{'user_id': '2991984139', 'username': 'WeTheC...",NaN,NaN,NaN,NaN,NaN

In [86]:
jan_clean.drop(index=[28907, 98304], inplace=True)
jan_clean.shape

(476759, 17)

In [341]:
jan_clean['date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
       '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
       '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
       '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
       '2020-01-29', '2020-01-30', '2020-01-31'], dtype=object)

In [342]:
jan_clean.shape

(476759, 17)

In [344]:
jan_clean = jan_clean.drop_duplicates(subset='tweet')
jan_clean.shape

(450482, 17)

In [359]:
jan_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                2
user_id                 2
username                2
name                   18
link                    2
retweet                 2
nlikes                  2
nreplies                2
nretweets               2
quote_url          410160
retweet_id         450482
reply_to                2
dtype: int64

In [366]:
jan_clean.dropna(subset=['name'], inplace=True)
jan_clean.shape

(450464, 17)

In [368]:
jan_clean.reset_index(drop=True, inplace=True)
jan_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.212524e+18,1.212524e+18,1.577923e+12,2020-01-01,SpongeBob: slides down Sand Mountain\nThe tree...,[],1.099210e+18,Matt04181,Matt0417 (CEO of POOP),https://twitter.com/Matt04181/status/121252388...,False,4.0,0.0,0.0,NaN,NaN,"[{'user_id': '1099209894295678977', 'username'..."
1,1.212524e+18,1.212524e+18,1.577923e+12,2020-01-01,"Started 2020 with freshly washed bed sheets, a...",[],5.777754e+07,standtallx,Emma üßõüèª‚Äç‚ôÄÔ∏è,https://twitter.com/standtallx/status/12125238...,False,3.0,2.0,0.0,NaN,NaN,"[{'user_id': '57777541', 'username': 'standtal..."
2,1.212524e+18,1.212421e+18,1.577923e+12,2020-01-01,Using the coverage of his yellow card to mask ...,"['#classicjose', '#coverup']",3.466098e+08,5_Times_LFC,6 Times LFC,https://twitter.com/5_Times_LFC/status/1212523...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '346609834', 'username': '5_Times..."
3,1.212524e+18,1.212403e+18,1.577923e+12,2020-01-01,The mask pic.twitter.com/vHi9pC9S62,[],1.070006e+18,kagura_shelby,mugiwara no,https://twitter.com/kagura_shelby/status/12125...,False,3.0,0.0,0.0,NaN,NaN,"[{'user_id': '1070005555777945600', 'username'..."
4,1.212524e+18,1.212513e+18,1.577923e+12,2020-01-01,"I know what you mean, I've been depressed too ...",['#hugs'],4.865904e+07,IBdaSweet1,Luwamba L.J.Taylor,https://twitter.com/IBdaSweet1/status/12125237...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '48659042', 'username': 'IBdaSwee..."

In [369]:
jan_clean.to_csv('Datasets/jan_tweets_clean.csv')

In [88]:
feb_clean = feb.copy()
feb_clean.shape

(626691, 17)

In [89]:
feb_clean.dropna(how='all', inplace=True)
feb_clean.shape

(584161, 17)

In [90]:
feb_clean['date'].unique()

array(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', 'jack', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', 'KennyWonKenOhBe', '2020-02-14', '2020-02-15',
       '2020-02-16', '2020-02-17', 'AsiaNews EN', '2020-02-18', 'Femina',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', 'We The Curators', '2020-02-24', '2020-02-25',
       '2020-02-26', '2020-02-27', '2020-02-28', 'Vivian Kwan',
       '2020-02-29'], dtype=object)

In [98]:
feb_clean[feb_clean['date'] == 'jack']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
156900,"['#end_of_the_world', '#china', '#wuhan', '#as...",1.071292e+18,jack24415701,jack,https://twitter.com/jack24415701/status/122646...,False,0.0,0,0,NaN,NaN,"[{'user_id': '1071291991873413121', 'username'...",NaN,NaN,NaN,NaN,NaN

In [99]:
feb_clean.drop(index=[156900], inplace=True)
feb_clean.shape

(584155, 17)

In [100]:
feb_clean['date'].unique()

array(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
       '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
       '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29'], dtype=object)

In [350]:
feb_clean = feb_clean.drop_duplicates(subset='tweet')
feb_clean.shape

(536891, 17)

In [371]:
feb_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                6
user_id                 6
username                8
name                   24
link                    6
retweet                 6
nlikes                  6
nreplies                6
nretweets               6
quote_url          491745
retweet_id         536891
reply_to                6
dtype: int64

In [374]:
feb_clean.dropna(subset=['name', 'username'], inplace=True)
feb_clean.shape

(536865, 17)

In [376]:
feb_clean.reset_index(drop=True, inplace=True)
feb_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,"Bought Bruno Fernandes, play him at CDM? Wtf a...",[],2.221553e+09,chong_wh96,Chong_wH,https://twitter.com/chong_wh96/status/12237578...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '2221552537', 'username': 'chong_..."
1,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,My sister sent me $90 worth of face masks and ...,[],3.075768e+09,Yamanik30,ACAB,https://twitter.com/Yamanik30/status/122375787...,False,6.0,0.0,0.0,NaN,NaN,"[{'user_id': '3075767827', 'username': 'Yamani..."
2,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,Because Nigeria is currently 51% Muslim and th...,[],2.184187e+07,Dimplez,Dimplez üá≥üá¨,https://twitter.com/Dimplez/status/12237578717...,False,16.0,0.0,3.0,https://twitter.com/JesseLehrich/status/122336...,NaN,"[{'user_id': '21841872', 'username': 'Dimplez'}]"
3,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,When you were a mask to stop the cronavirus bu...,[],1.209989e+18,Harry31348302,Harry,https://twitter.com/Harry31348302/status/12237...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1209988745790918656', 'username'..."
4,1.223758e+18,1.223757e+18,1.580602e+12,2020-02-01,This 'MeshGraphic' implementation supports:\n\...,[],1.478940e+09,Softdrink_117,Softdrink 117,https://twitter.com/Softdrink_117/status/12237...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1478940204', 'username': 'Softdr..."

In [377]:
feb_clean.to_csv('Datasets/feb_tweets_clean.csv')

In [102]:
mar01_clean = mar01.copy()
mar01_clean.shape

(737002, 17)

In [103]:
mar01_clean.dropna(how='all', inplace=True)
mar01_clean.shape

(736996, 17)

In [104]:
mar01_clean['date'].unique()

array(['2020-03-01', 'Vivian Kwan', '2020-03-02', '2020-03-03',
       'James Clarke', '2020-03-04', '2020-03-05', '2020-03-06',
       '2020-03-07', '2020-03-08', '2020-03-09',
       'Haloo Automation Equipment', 'Celecare Medical', '2020-03-10',
       '2020-03-11', 'AsiaNews EN', 'Dianna Olukotun', 'Winnüî•',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16'], dtype=object)

In [112]:
mar01_clean[mar01_clean['date'] == 'Winnüî•']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
414281,[],1.204048e+18,SherwinCaliwag,Winnüî•,https://twitter.com/SherwinCaliwag/status/1237...,False,0.0,0,0,NaN,NaN,"[{'user_id': '1204047724259078144', 'username'...",NaN,NaN,NaN,NaN,NaN

In [114]:
mar01_clean.drop(index=[24153, 82771, 315351, 316618, 381513, 393868, 414281], inplace=True)
mar01_clean.shape

(736989, 17)

In [115]:
mar01_clean['date'].unique()

array(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
       '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
       '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16'],
      dtype=object)

In [389]:
mar01_clean = mar01_clean.drop_duplicates(subset='tweet')
mar01_clean.shape

(695994, 17)

In [390]:
mar01_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                7
user_id                 7
username                7
name                   36
link                    7
retweet                 7
nlikes                  7
nreplies                7
nretweets               7
quote_url          640207
retweet_id         695994
reply_to                7
dtype: int64

In [391]:
mar01_clean.dropna(subset=['name', 'username'], inplace=True)
mar01_clean.shape

(695958, 17)

In [393]:
mar01_clean.reset_index(drop=True, inplace=True)
mar01_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1234267158877818880,1.234266e+18,1583107196000,2020-03-01,Wearing a mask on a train track somewhere in B...,[],1.222977e+18,KirkP31369321,Kirks Poutine,https://twitter.com/KirkP31369321/status/12342...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '1222977020705091588', 'username'..."
1,1234267142259953664,1.234267e+18,1583107192000,2020-03-01,Were willing to start wearing surgical masks e...,[],1.317655e+09,KCUNLEASHED96,KC UNLEASHED96,https://twitter.com/KCUNLEASHED96/status/12342...,False,0.0,0.0,0.0,https://twitter.com/sssniperwolf/status/123426...,NaN,"[{'user_id': '1317654776', 'username': 'KCUNLE..."
2,1234267140955336704,1.234254e+18,1583107192000,2020-03-01,"It's target are your lungs, don't give it acce...",[],3.199808e+09,1spark780,Judy,https://twitter.com/1spark780/status/123426714...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '3199808368', 'username': '1spark..."
3,1234267136018665472,1.234259e+18,1583107191000,2020-03-01,The new police issue masks might not prevent c...,[],3.931759e+09,hueman_being,Ken Parker,https://twitter.com/hueman_being/status/123426...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '3931759154', 'username': 'hueman..."
4,1234267124304154625,1.234267e+18,1583107188000,2020-03-01,hey i‚Äôm sad so i‚Äôm gonna do a face mask and th...,[],4.252255e+08,beratings,baby bug,https://twitter.com/beratings/status/123426712...,False,14.0,1.0,0.0,NaN,NaN,"[{'user_id': '425225495', 'username': 'beratin..."

In [394]:
mar01_clean.to_csv('Datasets/mar01_tweets_clean.csv')

In [402]:
mar01_clean = pd.read_csv('Datasets/mar01_tweets_clean.csv', index_col=0)
mar01_clean.shape

(695958, 17)

In [403]:
mar17_10k = pd.read_csv('10k_Datasets/10k_march17_tweets.csv', index_col=0)
mar17_10k.shape

(9734, 17)

In [404]:
mar18_10k = pd.read_csv('10k_Datasets/10k_march18_tweets.csv', index_col=0, encoding='utf8', engine='python')
mar18_10k.shape

(133560, 17)

In [405]:
mar17_clean_10k = pd.concat([mar17_10k, mar18_10k])
mar17_clean_10k.shape

(143294, 17)

In [406]:
mar17_clean_10k.reset_index(drop=True, inplace=True)
mar17_clean_10k.shape

(143294, 17)

In [407]:
mar17_clean_10k.dropna(how='all', inplace=True)
mar17_clean_10k.shape

(143292, 17)

In [409]:
mar17_clean_10k['date'].unique()

array(['2020-03-17', '2020-03-18', '2020-03-19', 'Combo Gadgets',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', 'Stat Butler', '2020-03-30',
       '2020-03-31'], dtype=object)

In [410]:
mar17_clean_10k[mar17_clean_10k['date'] == 'Stat Butler']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
121954,[],9.819696e+17,stat_butler,Stat Butler,https://twitter.com/stat_butler/status/1244265...,False,0.0,0,0,NaN,NaN,"[{'user_id': '981969608277135360', 'username':...",NaN,NaN,None,NaN,None
122265,[],9.819696e+17,stat_butler,Stat Butler,https://twitter.com/stat_butler/status/1244260...,False,0.0,0,1,NaN,NaN,"[{'user_id': '981969608277135360', 'username':...",NaN,NaN,None,NaN,None

In [411]:
mar17_clean_10k.drop(index=[22752, 121954, 122265], inplace=True)
mar17_clean_10k.shape

(143289, 17)

In [412]:
mar17_clean_10k.reset_index(drop=True, inplace=True)
mar17_clean_10k.shape

(143289, 17)

In [418]:
mar_clean_10k_from_17th = pd.concat([mar01_clean, mar17_clean_10k])
mar_clean_10k_from_17th.shape

(839247, 17)

In [431]:
mar_clean_10k_from_17th = mar_clean_10k_from_17th.drop_duplicates(subset='tweet')
mar_clean_10k_from_17th.shape

(830115, 17)

In [432]:
mar_clean_10k_from_17th.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags               10
user_id                10
username               10
name                   42
link                   10
retweet                10
nlikes                 10
nreplies               10
nretweets              10
quote_url          764081
retweet_id         830115
reply_to               10
dtype: int64

In [433]:
mar_clean_10k_from_17th.dropna(subset=['name', 'username'], inplace=True)
mar_clean_10k_from_17th.shape

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(830073, 17)

In [436]:
mar_clean_10k_from_17th.reset_index(drop=True, inplace=True)
mar_clean_10k_from_17th.shape

(830073, 17)

In [437]:
mar_clean_10k_from_17th.to_csv('Datasets/mar_tweets_clean_10k_from_17th.csv')

In [451]:
apr_clean_10k = apr_10k.copy()
apr_clean_10k.shape

(334598, 17)

In [452]:
apr_clean_10k.dropna(how='all', inplace=True)
apr_clean_10k.shape

(299811, 17)

In [455]:
apr_clean_10k.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags             2019
user_id              2019
username             2019
name                 2025
link                 2020
retweet              2020
nlikes               2019
nreplies             2020
nretweets            2020
quote_url          280944
retweet_id         299811
reply_to             2020
dtype: int64

In [458]:
apr_clean_10k.dropna(subset=['name', 'username', 'link'], inplace=True)
apr_clean_10k.shape

(297785, 17)

In [460]:
apr_clean_10k['date'].unique()

array(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30'], dtype=object)

In [461]:
apr_clean_10k.reset_index(drop=True, inplace=True)
apr_clean_10k.shape

(297785, 17)

In [462]:
apr_clean_10k.to_csv('Datasets/apr_tweets_clean_10k.csv')

# EDA

In [155]:
jan_clean.shape

(476759, 17)

In [177]:
filt = 'covid|dead|death|doctor|infect|novel|nurse|outbreak|rona|sars|viral|virus|wuhan'
jan_clean[jan_clean['tweet'].str.contains(filt)]

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
15,1212523477896294400,1.212523e+18,1577923099000,2020-01-01,"https://mltshp.com/p/1HLSB¬† ""This is the deat...",[],8.431951e+17,Best_of_MLTSHP,MLTSHP,https://twitter.com/Best_of_MLTSHP/status/1212...,False,1,0.0,1.0,NaN,NaN,"[{'user_id': '843195118924546048', 'username':..."
201,1212518043353530368,1.212518e+18,1577921803000,2020-01-01,Ready to heard this? Homemade hair treatment a...,[],1.044739e+18,lumora_lu,MiLu,https://twitter.com/lumora_lu/status/121251804...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1044738746913034241', 'username'..."
222,1212517557690748928,1.212518e+18,1577921687000,2020-01-01,We all know what a joke #CCPChina is when it c...,"['#ccpchina', '#sars', '#hk', '#hkers']",9.630325e+17,odiecher,odiecher,https://twitter.com/odiecher/status/1212517557...,False,1,1.0,1.0,https://twitter.com/WBYeats1865/status/1212430...,NaN,"[{'user_id': '963032516759207936', 'username':..."
327,1212515585562726401,1.200523e+18,1577921217000,2020-01-01,Thought death masks gave you the horn freak,[],2.819219e+09,Hevysmoker,Ashley Collins,https://twitter.com/Hevysmoker/status/12125155...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '2819219369', 'username': 'Hevysm..."
522,1212510409858670593,1.212391e+18,1577919983000,2020-01-01,"Interesting cult of death mask he‚Äôs wearing, ü§î...",[],2.361956e+08,FaithR8s,‚ùåPatriot Fanüá∫üá∏üóΩ‚òïÔ∏èüé∂‚ùå,https://twitter.com/FaithR8s/status/1212510409...,False,1,0.0,1.0,NaN,NaN,"[{'user_id': '236195607', 'username': 'FaithR8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476736,1223108827530153985,1.223109e+18,1580446843000,2020-01-31,TWICE will be continuing with their meet & gre...,[],2.246642e+09,misayeon,misa ‚Ä¢·¥ó‚Ä¢,https://twitter.com/misayeon/status/1223108827...,False,5651,86.0,1343.0,NaN,NaN,"[{'user_id': '2246641690', 'username': 'misaye..."
476743,1223108743304364033,1.223109e+18,1580446823000,2020-01-31,‚ÄúDoctor's advice about coronavirus:\n\n1. It i...,[],1.854207e+09,AlwaysDesTitres,üßôüèª‚Äç‚ôÇÔ∏èüå±& JDsüíú,https://twitter.com/AlwaysDesTitres/status/122...,False,9,1.0,6.0,NaN,NaN,"[{'user_id': '1854206910', 'username': 'Always..."
476745,1223108727164653570,1.223058e+18,1580446819000,2020-01-31,The face mask is running out of stock in Hong ...,"['#coronavirusoutbreak', '#hongkongprotests']",1.193545e+18,tree_louis,Louis K S Tang,https://twitter.com/tree_louis/status/12231087...,False,2,0.0,1.0,NaN,NaN,"[{'user_id': '1193544878703009792', 'username'..."
476750,1223108704867774466,1.223109e+18,1580446814000,2020-01-31,Pro-#CCPChina thugs attacked kids in #YuenLong...,"['#ccpchina', '#yuenlong', '#coronavirus', '#h...",8.041465e+08,AngusChTrix,angusCH,https://twitter.com/AngusChTrix/status/1223108...,False,1,0.0,1.0,https://twitter.com/lukedepulford/status/12229...,NaN,"[{'user_id': '804146479', 'username': 'AngusCh..."
476756,1223108655731503105,1.223109e+18,1580446802000,2020-01-31,To help fight the outbreak of pneumonia caused...,['#coronavirus'],8.777542e+07,ChinaDaily,China Daily,https://twitter.com/ChinaDaily/status/12231086...,False,64,3.0,17.0,NaN,NaN,"[{'user_id': '87775422', 'username': 'ChinaDai..."

In [178]:
filt = 'covid|dead|death|doctor|infect|novel|nurse|outbreak|rona|sars|viral|virus|wuhan'
feb_clean[feb_clean['tweet'].str.contains(filt)]

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1223757879305367552,1.223758e+18,1580601589000,2020-02-01,"Bought Bruno Fernandes, play him at CDM? Wtf a...",[],2.221553e+09,chong_wh96,Chong_wH,https://twitter.com/chong_wh96/status/12237578...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '2221552537', 'username': 'chong_..."
1,1223757878827159552,1.223758e+18,1580601589000,2020-02-01,My sister sent me $90 worth of face masks and ...,[],3.075768e+09,Yamanik30,ACAB,https://twitter.com/Yamanik30/status/122375787...,False,6,0.0,0.0,NaN,NaN,"[{'user_id': '3075767827', 'username': 'Yamani..."
3,1223757866911326209,1.223758e+18,1580601586000,2020-02-01,When you were a mask to stop the cronavirus bu...,[],1.209989e+18,Harry31348302,Harry,https://twitter.com/Harry31348302/status/12237...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1209988745790918656', 'username'..."
11,1223757792244191232,1.223758e+18,1580601568000,2020-02-01,"this girl is deadass bragging about ""wearing m...",[],3.156025e+09,JaceLucena,katka,https://twitter.com/JaceLucena/status/12237577...,False,9,0.0,1.0,NaN,NaN,"[{'user_id': '3156025472', 'username': 'JaceLu..."
22,1223757736166318082,1.223758e+18,1580601555000,2020-02-01,Sister is determined to infect me. Emerged fro...,[],1.583843e+07,nyman11209,Hobonator,https://twitter.com/nyman11209/status/12237577...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '15838427', 'username': 'nyman112..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584144,1233617929327063040,1.233618e+18,1582952408000,2020-02-29,Fear of the spreading coronavirus has led to a...,[],1.483876e+07,heralddispatch,The Herald-Dispatch,https://twitter.com/heralddispatch/status/1233...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '14838763', 'username': 'heralddi..."
584146,1233617923480133633,1.233617e+18,1582952407000,2020-02-29,I was at a medical facility a couple year back...,[],1.102966e+18,wildgooseLIVE,wildgoose,https://twitter.com/wildgooseLIVE/status/12336...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1102965924020264962', 'username'..."
584149,1233617915003404288,1.233618e+18,1582952405000,2020-02-29,10 Best N95 Respirator Masks For Coronavirus ...,"['#top10', '#10bestn95respiratormasksforcorona...",1.156277e+09,WonderfulEngr,WonderfulEngineering,https://twitter.com/WonderfulEngr/status/12336...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1156277311', 'username': 'Wonder..."
584151,1233617899782201349,1.233618e+18,1582952401000,2020-02-29,Grateful to be back home for a while after thr...,['#coronavirus'],1.022851e+07,slhzdh,Kian Salehizadeh,https://twitter.com/slhzdh/status/123361789978...,False,8,0.0,0.0,NaN,NaN,"[{'user_id': '10228512', 'username': 'slhzdh'}]"
584154,1233617894375735297,1.233618e+18,1582952400000,2020-02-29,HAPPENING NOW: Our @A_AbdoolKarim is live on ...,"['#coronavirusoutbreak', '#covid19']",1.288181e+09,Bhekisisa_MG,Bhekisisa,https://twitter.com/Bhekisisa_MG/status/123361...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '1288180873', 'username': 'Bhekis..."

In [176]:
filt = 'covid|dead|death|doctor|infect|novel|nurse|outbreak|rona|sars|viral|virus|wuhan'
mar01_clean[mar01_clean['tweet'].str.contains(filt)]

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
3,1234267136018665472,1.234259e+18,1583107191000,2020-03-01,The new police issue masks might not prevent c...,[],3.931759e+09,hueman_being,Ken Parker,https://twitter.com/hueman_being/status/123426...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '3931759154', 'username': 'hueman..."
11,1234267074568097792,1.233863e+18,1583107176000,2020-03-01,Those *who are with the virus* should wear a m...,[],2.087783e+07,danimadu,manequim da guarita da PF,https://twitter.com/danimadu/status/1234267074...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '20877834', 'username': 'danimadu..."
15,1234267018238611461,1.234267e+18,1583107163000,2020-03-01,‚Ä¶ I guess Nancy can put in masks for everyone ...,[],2.846698e+09,We4EverOvercome,Not Worthy Of Anything Remarkable,https://twitter.com/We4EverOvercome/status/123...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '2846698472', 'username': 'We4Eve..."
23,1234266976853405697,1.234267e+18,1583107153000,2020-03-01,Washing your hands and disinfecting your elect...,[],2.756134e+09,monicam_mendez,ùë¥ùíêùíèùíäùíÑùíÇ ùë¥ùíÜùíèùíÖùíÜùíõ üåô,https://twitter.com/monicam_mendez/status/1234...,False,6,0.0,1.0,https://twitter.com/Pog_llins/status/123386973...,NaN,"[{'user_id': '2756133519', 'username': 'monica..."
27,1234266921521934336,1.234267e+18,1583107140000,2020-03-01,Americans worried about coronavirus don't need...,[],3.161490e+09,gtj654,Guy Johnson,https://twitter.com/gtj654/status/123426692152...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '3161490206', 'username': 'gtj654'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736981,1239401044175540224,1.239401e+18,1584331210000,2020-03-16,corona virus finally giving me a reason to dro...,[],2.589109e+09,jonwadec,jon,https://twitter.com/jonwadec/status/1239401044...,False,8,1.0,0.0,NaN,NaN,"[{'user_id': '2589108997', 'username': 'jonwad..."
736984,1239401022486982656,1.239401e+18,1584331205000,2020-03-16,2 questions: \n\nIs this a good time to finish...,[],4.880158e+09,70bpmhiccups,Joe Seatter,https://twitter.com/70bpmhiccups/status/123940...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '4880157513', 'username': '70bpmh..."
736985,1239401020725309440,1.239347e+18,1584331204000,2020-03-16,The CDC says masks don't work. The virus is to...,[],3.377558e+09,GunSensePA,Gun Sense PA,https://twitter.com/GunSensePA/status/12394010...,False,1,1.0,0.0,NaN,NaN,"[{'user_id': '3377557565', 'username': 'GunSen..."
736986,1239401009228607488,1.239401e+18,1584331202000,2020-03-16,"Those who have hoarded alcohol, masks, disinfe...",[],2.664186e+08,maricapz,Marie Capanzana,https://twitter.com/maricapz/status/1239401009...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '266418579', 'username': 'maricap..."
736987,1239401007572029440,1.239401e+18,1584331201000,2020-03-16,Doctor Oz said people are wearing surgical mas...,[],2.543078e+07,jasdagod_,JAS DA GOD,https://twitter.com/jasdagod_/status/123940100...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '25430780', 'username': 'jasdagod..."

In [153]:
jan_clean[jan_clean['tweet'].str.contains('corona')].loc[476743]['tweet']

"‚ÄúDoctor's advice about coronavirus:\n\n1. It is pretty large in size (cell is about 400-500nm diameter), so any normal mask (not just the  N95 feature) should be able to filter it out.‚Äù 1/10"

In [143]:
jan_clean.loc[62841]['tweet']

' http://www.nicovideo.jp/watch/nm11194952\xa0‚Ä¶\u3000Hey Pachuco! / The Mask'

In [180]:
jan_clean[jan_clean['tweet'].str.contains(filt)].groupby('date')['tweet'].count()

date
2020-01-01      92
2020-01-02     157
2020-01-03     158
2020-01-04     157
2020-01-05     177
2020-01-06     200
2020-01-07     166
2020-01-08     176
2020-01-09     183
2020-01-10     168
2020-01-11     127
2020-01-12     220
2020-01-13     180
2020-01-14     195
2020-01-15     190
2020-01-16     150
2020-01-17     162
2020-01-18     124
2020-01-19     115
2020-01-20     353
2020-01-21     739
2020-01-22    1209
2020-01-23    2112
2020-01-24    2441
2020-01-25    3418
2020-01-26    4001
2020-01-27    4069
2020-01-28    5240
2020-01-29    5453
2020-01-30    8472
2020-01-31    7551
Name: tweet, dtype: int64

In [181]:
feb_clean[feb_clean['tweet'].str.contains(filt)].groupby('date')['tweet'].count()

date
2020-02-01     4190
2020-02-02     4018
2020-02-03     3183
2020-02-04     3075
2020-02-05     2384
2020-02-06     2778
2020-02-07     3355
2020-02-08     2444
2020-02-09     2033
2020-02-10     2546
2020-02-11     2226
2020-02-12     1943
2020-02-13     2196
2020-02-14     2087
2020-02-15     1484
2020-02-16     1812
2020-02-17     7299
2020-02-18     1645
2020-02-19     1516
2020-02-20     1426
2020-02-21     1824
2020-02-22     1627
2020-02-23     2075
2020-02-24     3055
2020-02-25     4286
2020-02-26     7537
2020-02-27    10243
2020-02-28    11019
2020-02-29     9213
Name: tweet, dtype: int64

In [182]:
mar01_clean[mar01_clean['tweet'].str.contains(filt)].groupby('date')['tweet'].count()

date
2020-03-01     8592
2020-03-02    10787
2020-03-03     9132
2020-03-04    11386
2020-03-05    11790
2020-03-06     8916
2020-03-07     8141
2020-03-08     6661
2020-03-09     9877
2020-03-10     9360
2020-03-11    18298
2020-03-12    14898
2020-03-13    16256
2020-03-14    14777
2020-03-15    13820
2020-03-16    16000
Name: tweet, dtype: int64

# Pair Down to 5k Tweets per Day

In [463]:
jan_clean = pd.read_csv('Datasets/jan_tweets_clean.csv', index_col=0)
feb_clean = pd.read_csv('Datasets/feb_tweets_clean.csv', index_col=0)
mar_clean_10k_from_17th = pd.read_csv('Datasets/mar_tweets_clean_10k_from_17th.csv', index_col=0)
apr_clean_10k = pd.read_csv('Datasets/apr_tweets_clean_10k.csv', index_col=0)

jan_clean.shape, feb_clean.shape, mar_clean_10k_from_17th.shape, apr_clean_10k.shape

((450464, 17), (536865, 17), (830073, 17), (297785, 17))

In [464]:
filt = 'covid|dead|death|doctor|infect|novel|nurse|outbreak|rona|sars|viral|virus|wuhan'

jan_5k = jan_clean[jan_clean['tweet'].str.contains(filt)].groupby('date').head(5000)
jan_5k.reset_index(drop=True, inplace=True)

feb_5k = feb_clean[feb_clean['tweet'].str.contains(filt)].groupby('date').head(5000)
feb_5k.reset_index(drop=True, inplace=True)

mar_5k = mar_clean_10k_from_17th[mar_clean_10k_from_17th['tweet'].str.contains(filt)].groupby('date').head(5000)
mar_5k.reset_index(drop=True, inplace=True)

apr_5k = apr_clean_10k[apr_clean_10k['tweet'].str.contains(filt)].groupby('date').head(5000)
apr_5k.reset_index(drop=True, inplace=True)

jan_5k.shape, feb_5k.shape, mar_5k.shape, apr_5k.shape

((40724, 17), (78094, 17), (152131, 17), (150000, 17))

In [465]:
jan_5k[jan_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-01-01      91
2020-01-02     157
2020-01-03     156
2020-01-04     155
2020-01-05     174
2020-01-06     192
2020-01-07     164
2020-01-08     168
2020-01-09     178
2020-01-10     163
2020-01-11     120
2020-01-12     215
2020-01-13     175
2020-01-14     192
2020-01-15     188
2020-01-16     144
2020-01-17     156
2020-01-18     124
2020-01-19     110
2020-01-20     347
2020-01-21     725
2020-01-22    1183
2020-01-23    1985
2020-01-24    2331
2020-01-25    3324
2020-01-26    3879
2020-01-27    3928
2020-01-28    5000
2020-01-29    5000
2020-01-30    5000
2020-01-31    5000
Name: tweet, dtype: int64

In [466]:
feb_5k[feb_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-02-01    4057
2020-02-02    3792
2020-02-03    3080
2020-02-04    2960
2020-02-05    2309
2020-02-06    2614
2020-02-07    3202
2020-02-08    2322
2020-02-09    1914
2020-02-10    2450
2020-02-11    2131
2020-02-12    1875
2020-02-13    2135
2020-02-14    1948
2020-02-15    1398
2020-02-16    1719
2020-02-17    1540
2020-02-18    1536
2020-02-19    1415
2020-02-20    1349
2020-02-21    1760
2020-02-22    1563
2020-02-23    1993
2020-02-24    2877
2020-02-25    4155
2020-02-26    5000
2020-02-27    5000
2020-02-28    5000
2020-02-29    5000
Name: tweet, dtype: int64

In [467]:
mar_5k[mar_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-03-01    5000
2020-03-02    5000
2020-03-03    5000
2020-03-04    5000
2020-03-05    5000
2020-03-06    5000
2020-03-07    5000
2020-03-08    5000
2020-03-09    5000
2020-03-10    5000
2020-03-11    5000
2020-03-12    5000
2020-03-13    5000
2020-03-14    5000
2020-03-15    5000
2020-03-16    5000
2020-03-17    5000
2020-03-18    5000
2020-03-19    5000
2020-03-20    5000
2020-03-21    5000
2020-03-22    5000
2020-03-23    5000
2020-03-24    5000
2020-03-25    5000
2020-03-26    5000
2020-03-27    5000
2020-03-28    2131
2020-03-29    5000
2020-03-30    5000
2020-03-31    5000
Name: tweet, dtype: int64

In [6]:
mar28_10k = pd.read_csv('10k_Datasets/10k_march28_tweets.csv', index_col=0)
mar28_10k.shape

(3441, 17)

In [7]:
mar28_10k['tweet'].value_counts()

Not wearing masks to protect against coronavirus is a ‚Äòbig mistake,‚Äô top Chinese scientist says  https://www.sciencemag.org/news/2020/03/not-wearing-masks-protect-against-coronavirus-big-mistake-top-chinese-scientist-says¬†‚Ä¶                                                                              39
Not wearing masks to protect against coronavirus is a ‚Äòbig mistake,‚Äô top Chinese scientist says | Science | AAAS  https://www.sciencemag.org/news/2020/03/not-wearing-masks-protect-against-coronavirus-big-mistake-top-chinese-scientist-says¬†‚Ä¶                                                             16
Future's foundation is making masks for healthcare workers and patients affected by COVID-19   https://twitter.com/i/events/1243942042054475776¬†‚Ä¶                                                                                                                                                             9
Experts say face masks can help slow COVID-19, despite previous claims  https://nypost.com/2020/03/28/experts-say-face-masks-can-help-slow-covid-19-despite-previous-claims/?utm_source=twitter_sitebuttons&utm_medium=site%20buttons&utm_campaign=site%20buttons¬†‚Ä¶ via @nypost                               8
1) Follow @Mimosamania on here & IG. \n\n2 A) For the Nike gift card: do the savage challenge dance on live with mimosamania \n\n2 B) For the corona mask: do the Southside on live with mimosamania. \n\n2 C) For the custom dyed Nike socks: do the dougie on live with mimosamania.                        8
                                                                                                                                                                                                                                                                                                             ..
@NYGovCuomo STOP THE DROP! Mr. governor. Mandatory mask will significantly reduce the spread of Coronavirus. Sick people without symptoms won‚Äôt be able to spread droplets and healthy people won‚Äôt inhale droplets. This is the only way to combat the spread. We need to stop the drop                      1
Keeping Covid-19 deaths below 20,000 would be a good result, says NHS medical director Stephen Powis who says 170million masks, 25million gloves and 30million aprons have been delivered to = 20000 might die? Not good enough the people need more info.                                                    1
@realDonaldTrump why is the American Red Cross asking Americans to donate blood during this COVID-19 pandemic? We have been forced to self-quarantine, leave our jobs, laid off, no school, wear masks, & fear stricken ppl demanding authoritarian totalitarian martial law.  pic.twitter.com/pUZDj25wXl     1
Saying "N95 only" also not quite accurate. Standard PPE in health care for covid is surgical mask(plus all other type of PPE). This is because droplet spread, not airborne.  Unless certain procedures and circumstances where might generate airborne.                                                      1
TAKE ACTION #COVID19: Do not buy PPE that you do not need. Medical professionals need those gloves & masks. Who needs PPE:\n\n- If you are healthy, you only need to wear a mask if you are taking care of a person with suspected COVID19.\n- Wear a mask if you are coughing/sneezing.                      1
Name: tweet, Length: 3270, dtype: int64

In [468]:
apr_5k[apr_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-04-01    5000
2020-04-02    5000
2020-04-03    5000
2020-04-04    5000
2020-04-05    5000
2020-04-06    5000
2020-04-07    5000
2020-04-08    5000
2020-04-09    5000
2020-04-10    5000
2020-04-11    5000
2020-04-12    5000
2020-04-13    5000
2020-04-14    5000
2020-04-15    5000
2020-04-16    5000
2020-04-17    5000
2020-04-18    5000
2020-04-19    5000
2020-04-20    5000
2020-04-21    5000
2020-04-22    5000
2020-04-23    5000
2020-04-24    5000
2020-04-25    5000
2020-04-26    5000
2020-04-27    5000
2020-04-28    5000
2020-04-29    5000
2020-04-30    5000
Name: tweet, dtype: int64

In [444]:
jan_5k.to_csv('5k_Datasets/5k_jan_tweets.csv')

In [445]:
feb_5k.to_csv('5k_Datasets/5k_feb_tweets.csv')

In [446]:
mar_5k.to_csv('5k_Datasets/5k_mar_tweets.csv')

In [469]:
apr_5k.to_csv('5k_Datasets/5k_apr_tweets.csv')

# Combine 5k/Day Tweet Dataframes

In [2]:
jan_5k = pd.read_csv('5k_Datasets/5k_jan_tweets.csv', index_col=0)

feb_5k = pd.read_csv('5k_Datasets/5k_feb_tweets.csv', index_col=0)

mar_5k = pd.read_csv('5k_Datasets/5k_mar_tweets.csv', index_col=0)

apr_5k = pd.read_csv('5k_Datasets/5k_apr_tweets.csv', index_col=0)

may_5k = pd.read_csv('5k_Datasets/5k_may_tweets.csv', index_col=0)

jan_5k.shape, feb_5k.shape, mar_5k.shape, apr_5k.shape, may_5k.shape

((40724, 17), (78094, 17), (152131, 17), (150000, 17), (155000, 15))

In [3]:
df = pd.concat([jan_5k, feb_5k, mar_5k, apr_5k, may_5k])
df.shape

(575949, 17)

In [4]:
df.reset_index(drop=True, inplace=True)
df.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.212523e+18,1.212523e+18,1.577923e+12,2020-01-01,"https://mltshp.com/p/1HLSB¬† ""This is the deat...",[],8.431951e+17,Best_of_MLTSHP,MLTSHP,https://twitter.com/Best_of_MLTSHP/status/1212...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '843195118924546048', 'username':..."
1,1.212518e+18,1.212518e+18,1.577922e+12,2020-01-01,Ready to heard this? Homemade hair treatment a...,[],1.044739e+18,lumora_lu,MiLu,https://twitter.com/lumora_lu/status/121251804...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1044738746913034241', 'username'..."
2,1.212518e+18,1.212518e+18,1.577922e+12,2020-01-01,We all know what a joke #CCPChina is when it c...,"['#ccpchina', '#sars', '#hk', '#hkers']",9.630325e+17,odiecher,odiecher,https://twitter.com/odiecher/status/1212517557...,False,1.0,1.0,1.0,https://twitter.com/WBYeats1865/status/1212430...,NaN,"[{'user_id': '963032516759207936', 'username':..."
3,1.212516e+18,1.200523e+18,1.577921e+12,2020-01-01,Thought death masks gave you the horn freak,[],2.819219e+09,Hevysmoker,Ashley Collins,https://twitter.com/Hevysmoker/status/12125155...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '2819219369', 'username': 'Hevysm..."
4,1.212510e+18,1.212391e+18,1.577920e+12,2020-01-01,"Interesting cult of death mask he‚Äôs wearing, ü§î...",[],2.361956e+08,FaithR8s,‚ùåPatriot Fanüá∫üá∏üóΩ‚òïÔ∏èüé∂‚ùå,https://twitter.com/FaithR8s/status/1212510409...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '236195607', 'username': 'FaithR8..."

In [5]:
df.tail()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
575944,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Cuomo urges protesters to 'demonstrate with a ...,[],3.424594e+08,chrisusanz,Christopher,https://twitter.com/chrisusanz/status/12669917...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '342459363', 'username': 'chrisus..."
575945,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Advantages of wearing face masks: \n1. Haven‚Äôt...,"['#covid19', '#coronapandemic', '#sundayvibes']",1.361908e+09,HusaynZ,Rogue Aviator üáµüá∞,https://twitter.com/HusaynZ/status/12669916005...,False,62.0,10.0,11.0,NaN,NaN,"[{'user_id': '1361908454', 'username': 'Husayn..."
575946,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,The model of South Korea will have to be follo...,[],3.223174e+09,moussetafaa,Mustafa,https://twitter.com/moussetafaa/status/1266991...,False,0.0,1.0,0.0,NaN,NaN,"[{'user_id': '3223174388', 'username': 'mousse..."
575947,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Aeroflot: passengers must change face masks ev...,"['#aviation', '#airline', '#aircraft', '#covid...",1.545939e+07,SpeedBird_NCL,SpeedBird,https://twitter.com/SpeedBird_NCL/status/12669...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '15459391', 'username': 'SpeedBir..."
575948,1.266991e+18,1.266991e+18,1.590909e+12,2020-05-31,Corona said mask on 2020 said fuck it mask off...,[],7.181234e+17,sharunbelll,moona love ‚ù£Ô∏è,https://twitter.com/sharunbelll/status/1266991...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '718123376804376576', 'username':..."

In [7]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df['date']

0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01
            ...
575944   2020-05-31
575945   2020-05-31
575946   2020-05-31
575947   2020-05-31
575948   2020-05-31
Name: date, Length: 575949, dtype: datetime64[ns]

In [10]:
df['date'][0].month

1

In [17]:
df['date']

0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01
            ...
575944   2020-05-31
575945   2020-05-31
575946   2020-05-31
575947   2020-05-31
575948   2020-05-31
Name: date, Length: 575949, dtype: datetime64[ns]

In [19]:
df['date']

AttributeError: 'Series' object has no attribute 'day'

In [20]:
df.shape

(575949, 17)