# Data Cleaning

## Cleaning and combining dataframes

- In this notebook, [Eric Blander](https://github.com/EricB10) and [I](https://github.com/p-szymo) clean up the raw data we scraped in our Twitter scraping [notebook](01_twitter_scraping_notebook.ipynb).
- We then combine it all into one large CSV file.

## Table of contents
1. [Monthly dataframe cleaning](#Monthly-dataframe-cleaning)

    - [January](#January)
    - [February](#February)
    - [March](#March)
        - [First half](#First-half)
        - [Second half](#Second-half)
    - [April](#April)
    - [May](#May)
    

2. [Downsize to 5,000 tweets per day](#Downsize-to-5,000-tweets-per-day)
3. [Combine DataFrames](#Combine-DataFrames)

    - [Save](#Save)

In [1]:
# import standard libraries
import numpy as np
import pandas as pd

## Monthly dataframe cleaning

[[go back to the top](#Data-Cleaning)]

- After loading raw datasets:
    - Check for NaN values and determine whether they can be dropped.
    - Check for incorrectly scraped values and change or drop them.
    - Drop unnecessary columns.
    - Reset index.
    - Save.

### January

[[go back to the top](#Data-Cleaning)]

In [71]:
# load january datframe and take a look
jan = pd.read_csv('data/january_tweets.csv', index_col=0)
jan.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1212523886329380865,1.212524e+18,1577923196000,2020-01-01,SpongeBob: slides down Sand Mountain\nThe tree...,[],1.099210e+18,Matt04181,Matt0417 (CEO of POOP),https://twitter.com/Matt04181/status/121252388...,False,4,0.0,0.0,NaN,NaN,"[{'user_id': '1099209894295678977', 'username'..."
1,1212523880558026753,1.212524e+18,1577923195000,2020-01-01,"Started 2020 with freshly washed bed sheets, a...",[],5.777754e+07,standtallx,Emma üßõüèª‚Äç‚ôÄÔ∏è,https://twitter.com/standtallx/status/12125238...,False,3,2.0,0.0,NaN,NaN,"[{'user_id': '57777541', 'username': 'standtal..."
2,1212523828888449024,1.212421e+18,1577923183000,2020-01-01,Using the coverage of his yellow card to mask ...,"['#classicjose', '#coverup']",3.466098e+08,5_Times_LFC,6 Times LFC,https://twitter.com/5_Times_LFC/status/1212523...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '346609834', 'username': '5_Times..."
3,1212523807128186882,1.212403e+18,1577923177000,2020-01-01,The mask pic.twitter.com/vHi9pC9S62,[],1.070006e+18,kagura_shelby,mugiwara no,https://twitter.com/kagura_shelby/status/12125...,False,3,0.0,0.0,NaN,NaN,"[{'user_id': '1070005555777945600', 'username'..."
4,1212523752925229056,1.212513e+18,1577923164000,2020-01-01,"I know what you mean, I've been depressed too ...",['#hugs'],4.865904e+07,IBdaSweet1,Luwamba L.J.Taylor,https://twitter.com/IBdaSweet1/status/12125237...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '48659042', 'username': 'IBdaSwee..."

In [73]:
# look at size of dataframe
jan.shape

(487435, 17)

In [74]:
# check for NaN values
jan.isna().sum()

id                  10674
conversation_id     10674
created_at          10674
date                10674
tweet               10674
hashtags            21349
user_id             21349
username            21349
name                21365
link                21351
retweet             21351
nlikes              21349
nreplies            21351
nretweets           21351
quote_url          446776
retweet_id         487435
reply_to            21351
dtype: int64

In [72]:
# check for strange values
jan['date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       'Dream Doctor¬Æ', '2020-01-05', '2020-01-06', '2020-01-07',
       '2020-01-08', nan, 'We The Curators', '2020-01-09', '2020-01-10',
       '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14',
       '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-18',
       '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
       '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
       '2020-01-31'], dtype=object)

In [78]:
# create a copy to clean
jan_clean = jan.copy()

# check shape
jan_clean.shape

(487435, 17)

In [79]:
# drop rows with all NaN values
jan_clean.dropna(how='all', inplace=True)

# confirm
jan_clean.shape

(476761, 17)

In [85]:
# look at instances with scraping error 
jan_clean[jan_clean['date'] == 'Dream Doctor¬Æ']
jan_clean[jan_clean['date'] == 'We The Curators']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
98304,[],2.991984e+09,WeTheCurators2,We The Curators,https://twitter.com/WeTheCurators2/status/1214...,False,0.0,0,0,NaN,NaN,"[{'user_id': '2991984139', 'username': 'WeTheC...",NaN,NaN,NaN,NaN,NaN

In [86]:
# drop those rows
jan_clean.drop(index=[28907, 98304], inplace=True)

# confirm
jan_clean.shape

(476759, 17)

In [341]:
# check
jan_clean['date'].unique()

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
       '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
       '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
       '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
       '2020-01-29', '2020-01-30', '2020-01-31'], dtype=object)

In [344]:
# drop duplicate tweets and/or retweets
jan_clean = jan_clean.drop_duplicates(subset='tweet')

# confirm
jan_clean.shape

(450482, 17)

In [359]:
# take another look at NaN values
jan_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                2
user_id                 2
username                2
name                   18
link                    2
retweet                 2
nlikes                  2
nreplies                2
nretweets               2
quote_url          410160
retweet_id         450482
reply_to                2
dtype: int64

In [366]:
# drop any tweets missing a value for name (takes care of other NaN values)
jan_clean.dropna(subset=['name'], inplace=True)
jan_clean.shape

(450464, 17)

In [ ]:
# drop quote_url and retweet_id columns
jan_clean.drop(columns=['quote_url', 'retweet_id'], inplace=True)

In [368]:
# reset index
jan_clean.reset_index(drop=True, inplace=True)

# confirm
jan_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.212524e+18,1.212524e+18,1.577923e+12,2020-01-01,SpongeBob: slides down Sand Mountain\nThe tree...,[],1.099210e+18,Matt04181,Matt0417 (CEO of POOP),https://twitter.com/Matt04181/status/121252388...,False,4.0,0.0,0.0,NaN,NaN,"[{'user_id': '1099209894295678977', 'username'..."
1,1.212524e+18,1.212524e+18,1.577923e+12,2020-01-01,"Started 2020 with freshly washed bed sheets, a...",[],5.777754e+07,standtallx,Emma üßõüèª‚Äç‚ôÄÔ∏è,https://twitter.com/standtallx/status/12125238...,False,3.0,2.0,0.0,NaN,NaN,"[{'user_id': '57777541', 'username': 'standtal..."
2,1.212524e+18,1.212421e+18,1.577923e+12,2020-01-01,Using the coverage of his yellow card to mask ...,"['#classicjose', '#coverup']",3.466098e+08,5_Times_LFC,6 Times LFC,https://twitter.com/5_Times_LFC/status/1212523...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '346609834', 'username': '5_Times..."
3,1.212524e+18,1.212403e+18,1.577923e+12,2020-01-01,The mask pic.twitter.com/vHi9pC9S62,[],1.070006e+18,kagura_shelby,mugiwara no,https://twitter.com/kagura_shelby/status/12125...,False,3.0,0.0,0.0,NaN,NaN,"[{'user_id': '1070005555777945600', 'username'..."
4,1.212524e+18,1.212513e+18,1.577923e+12,2020-01-01,"I know what you mean, I've been depressed too ...",['#hugs'],4.865904e+07,IBdaSweet1,Luwamba L.J.Taylor,https://twitter.com/IBdaSweet1/status/12125237...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '48659042', 'username': 'IBdaSwee..."

In [369]:
# save to csv
jan_clean.to_csv('data/jan_tweets_clean.csv')

### February

[[go back to the top](#Data-Cleaning)]

In [25]:
# load february datframe and take a look
feb = pd.read_csv('data/february_tweets.csv', index_col=0)
feb.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,4,5,6,8,9,10,11,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1223757879305367552,1.223758e+18,1580601589000,2020-02-01,"Bought Bruno Fernandes, play him at CDM? Wtf a...",[],2.221553e+09,chong_wh96,Chong_wH,https://twitter.com/chong_wh96/status/12237578...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '2221552537', 'username': 'chong_..."
1,1223757878827159552,1.223758e+18,1580601589000,2020-02-01,My sister sent me $90 worth of face masks and ...,[],3.075768e+09,Yamanik30,ACAB,https://twitter.com/Yamanik30/status/122375787...,False,6,0.0,0.0,NaN,NaN,"[{'user_id': '3075767827', 'username': 'Yamani..."
2,1223757871751426049,1.223758e+18,1580601587000,2020-02-01,Because Nigeria is currently 51% Muslim and th...,[],2.184187e+07,Dimplez,Dimplez üá≥üá¨,https://twitter.com/Dimplez/status/12237578717...,False,16,0.0,3.0,https://twitter.com/JesseLehrich/status/122336...,NaN,"[{'user_id': '21841872', 'username': 'Dimplez'}]"
3,1223757866911326209,1.223758e+18,1580601586000,2020-02-01,When you were a mask to stop the cronavirus bu...,[],1.209989e+18,Harry31348302,Harry,https://twitter.com/Harry31348302/status/12237...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1209988745790918656', 'username'..."
4,1223757863627018241,1.223757e+18,1580601585000,2020-02-01,This 'MeshGraphic' implementation supports:\n\...,[],1.478940e+09,Softdrink_117,Softdrink 117,https://twitter.com/Softdrink_117/status/12237...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '1478940204', 'username': 'Softdr..."

In [35]:
# look at size of dataframe
feb.shape

(626691, 17)

In [26]:
# check for NaN values
feb.isna().sum()

id                  42530
conversation_id     42530
created_at          42530
date                42530
tweet               42530
hashtags            72125
user_id             72125
username            72127
name                72143
link                72131
retweet             72131
nlikes              72125
nreplies            72131
nretweets           72131
quote_url          581219
retweet_id         626691
reply_to            72131
dtype: int64

In [36]:
# check for strange values
feb['date'].unique()

array(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', 'jack', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', 'KennyWonKenOhBe', '2020-02-14', '2020-02-15',
       '2020-02-16', '2020-02-17', 'AsiaNews EN', '2020-02-18', 'Femina',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', nan, 'We The Curators', '2020-02-24', '2020-02-25',
       '2020-02-26', '2020-02-27', '2020-02-28', 'Vivian Kwan',
       '2020-02-29'], dtype=object)

In [88]:
# create a copy to clean
feb_clean = feb.copy()

# check shape
feb_clean.shape

(626691, 17)

In [89]:
# drop rows with all NaN values
feb_clean.dropna(how='all', inplace=True)

# confirm
feb_clean.shape

(584161, 17)

In [98]:
# look at instances with scraping error 
feb_clean[feb_clean['date'] == 'KennyWonKenOhBe']
feb_clean[feb_clean['date'] == 'AsiaNews EN']
feb_clean[feb_clean['date'] == 'Femina']
feb_clean[feb_clean['date'] == 'We The Curators']
feb_clean[feb_clean['date'] == 'Vivian Kwan']
feb_clean[feb_clean['date'] == 'jack']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
156900,"['#end_of_the_world', '#china', '#wuhan', '#as...",1.071292e+18,jack24415701,jack,https://twitter.com/jack24415701/status/122646...,False,0.0,0,0,NaN,NaN,"[{'user_id': '1071291991873413121', 'username'...",NaN,NaN,NaN,NaN,NaN

In [99]:
# space to drop those rows
feb_clean.drop(index=[156900], inplace=True)

# confirm
feb_clean.shape

(584155, 17)

In [100]:
# check
feb_clean['date'].unique()

array(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
       '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
       '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
       '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
       '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
       '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
       '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29'], dtype=object)

In [350]:
# drop duplicate tweets and/or retweets
feb_clean = feb_clean.drop_duplicates(subset='tweet')

# confirm
feb_clean.shape

(536891, 17)

In [371]:
# take another look at NaN values
feb_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                6
user_id                 6
username                8
name                   24
link                    6
retweet                 6
nlikes                  6
nreplies                6
nretweets               6
quote_url          491745
retweet_id         536891
reply_to                6
dtype: int64

In [374]:
# drop any tweets missing a value for name or username (takes care of other NaN values)
feb_clean.dropna(subset=['name', 'username'], inplace=True)

# confirm
feb_clean.shape

(536865, 17)

In [ ]:
# drop quote_url and retweet_id columns
feb_clean.drop(columns=['quote_url', 'retweet_id'], inplace=True)

In [376]:
# reset index
feb_clean.reset_index(drop=True, inplace=True)

# confirm
feb_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,"Bought Bruno Fernandes, play him at CDM? Wtf a...",[],2.221553e+09,chong_wh96,Chong_wH,https://twitter.com/chong_wh96/status/12237578...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '2221552537', 'username': 'chong_..."
1,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,My sister sent me $90 worth of face masks and ...,[],3.075768e+09,Yamanik30,ACAB,https://twitter.com/Yamanik30/status/122375787...,False,6.0,0.0,0.0,NaN,NaN,"[{'user_id': '3075767827', 'username': 'Yamani..."
2,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,Because Nigeria is currently 51% Muslim and th...,[],2.184187e+07,Dimplez,Dimplez üá≥üá¨,https://twitter.com/Dimplez/status/12237578717...,False,16.0,0.0,3.0,https://twitter.com/JesseLehrich/status/122336...,NaN,"[{'user_id': '21841872', 'username': 'Dimplez'}]"
3,1.223758e+18,1.223758e+18,1.580602e+12,2020-02-01,When you were a mask to stop the cronavirus bu...,[],1.209989e+18,Harry31348302,Harry,https://twitter.com/Harry31348302/status/12237...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1209988745790918656', 'username'..."
4,1.223758e+18,1.223757e+18,1.580602e+12,2020-02-01,This 'MeshGraphic' implementation supports:\n\...,[],1.478940e+09,Softdrink_117,Softdrink 117,https://twitter.com/Softdrink_117/status/12237...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1478940204', 'username': 'Softdr..."

In [377]:
# save to csv
feb_clean.to_csv('data/feb_tweets_clean.csv')

### March

[[go back to the top](#Data-Cleaning)]

- Due to some issues with the scraper, March was scraped in separate halves.

### First half

[[go back to the top](#Data-Cleaning)]

In [31]:
# load  datframe and take a look
mar01 = pd.read_csv('data/march01_tweets.csv', index_col=0)
mar01.head()

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,3,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1234267158877818880,1.234266e+18,1583107196000,2020-03-01,Wearing a mask on a train track somewhere in B...,[],1.222977e+18,KirkP31369321,Kirks Poutine,https://twitter.com/KirkP31369321/status/12342...,False,1,0.0,0.0,NaN,NaN,"[{'user_id': '1222977020705091588', 'username'..."
1,1234267142259953664,1.234267e+18,1583107192000,2020-03-01,Were willing to start wearing surgical masks e...,[],1.317655e+09,KCUNLEASHED96,KC UNLEASHED96,https://twitter.com/KCUNLEASHED96/status/12342...,False,0,0.0,0.0,https://twitter.com/sssniperwolf/status/123426...,NaN,"[{'user_id': '1317654776', 'username': 'KCUNLE..."
2,1234267140955336704,1.234254e+18,1583107192000,2020-03-01,"It's target are your lungs, don't give it acce...",[],3.199808e+09,1spark780,Judy,https://twitter.com/1spark780/status/123426714...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '3199808368', 'username': '1spark..."
3,1234267136018665472,1.234259e+18,1583107191000,2020-03-01,The new police issue masks might not prevent c...,[],3.931759e+09,hueman_being,Ken Parker,https://twitter.com/hueman_being/status/123426...,False,0,0.0,0.0,NaN,NaN,"[{'user_id': '3931759154', 'username': 'hueman..."
4,1234267124304154625,1.234267e+18,1583107188000,2020-03-01,hey i‚Äôm sad so i‚Äôm gonna do a face mask and th...,[],4.252255e+08,beratings,baby bug,https://twitter.com/beratings/status/123426712...,False,14,1.0,0.0,NaN,NaN,"[{'user_id': '425225495', 'username': 'beratin..."

In [102]:
# create a copy to clean
mar01_clean = mar01.copy()

# look at size of dataframe
mar01_clean.shape

(737002, 17)

In [103]:
# drop rows with all NaN values
mar01_clean.dropna(how='all', inplace=True)

# check
mar01_clean.shape

(736996, 17)

In [104]:
# check for strange values
mar01_clean['date'].unique()

array(['2020-03-01', 'Vivian Kwan', '2020-03-02', '2020-03-03',
       'James Clarke', '2020-03-04', '2020-03-05', '2020-03-06',
       '2020-03-07', '2020-03-08', '2020-03-09',
       'Haloo Automation Equipment', 'Celecare Medical', '2020-03-10',
       '2020-03-11', 'AsiaNews EN', 'Dianna Olukotun', 'Winnüî•',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16'], dtype=object)

In [112]:
# look at instances with scraping error 
mar01_clean[mar01_clean['date'] == 'Vivian Kwan']
mar01_clean[mar01_clean['date'] == 'James Clarke']
mar01_clean[mar01_clean['date'] == 'Haloo Automation Equipment']
mar01_clean[mar01_clean['date'] == 'Celecare Medical']
mar01_clean[mar01_clean['date'] == 'AsiaNews EN']
mar01_clean[mar01_clean['date'] == 'Dianna Olukotun']
mar01_clean[mar01_clean['date'] == 'Winnüî•']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
414281,[],1.204048e+18,SherwinCaliwag,Winnüî•,https://twitter.com/SherwinCaliwag/status/1237...,False,0.0,0,0,NaN,NaN,"[{'user_id': '1204047724259078144', 'username'...",NaN,NaN,NaN,NaN,NaN

In [114]:
# drop those rows
mar01_clean.drop(index=[24153, 82771, 315351, 316618, 381513, 393868, 414281], inplace=True)

# check
mar01_clean.shape

(736989, 17)

In [115]:
# confirm
mar01_clean['date'].unique()

array(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
       '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
       '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16'],
      dtype=object)

In [389]:
# drop duplicate tweets and/or retweets
mar01_clean = mar01_clean.drop_duplicates(subset='tweet')

# check
mar01_clean.shape

(695994, 17)

In [390]:
# check for remaining NaN values
mar01_clean.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags                7
user_id                 7
username                7
name                   36
link                    7
retweet                 7
nlikes                  7
nreplies                7
nretweets               7
quote_url          640207
retweet_id         695994
reply_to                7
dtype: int64

In [391]:
# drop any tweets missing a value for name or username (takes care of other NaN values)
mar01_clean.dropna(subset=['name', 'username'], inplace=True)

# check
mar01_clean.shape

(695958, 17)

In [ ]:
# drop quote_url and retweet_id columns
mar01_clean.drop(columns=['quote_url', 'retweet_id'], inplace=True)

In [393]:
# reset index
mar01_clean.reset_index(drop=True, inplace=True)

# check
mar01_clean.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1234267158877818880,1.234266e+18,1583107196000,2020-03-01,Wearing a mask on a train track somewhere in B...,[],1.222977e+18,KirkP31369321,Kirks Poutine,https://twitter.com/KirkP31369321/status/12342...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '1222977020705091588', 'username'..."
1,1234267142259953664,1.234267e+18,1583107192000,2020-03-01,Were willing to start wearing surgical masks e...,[],1.317655e+09,KCUNLEASHED96,KC UNLEASHED96,https://twitter.com/KCUNLEASHED96/status/12342...,False,0.0,0.0,0.0,https://twitter.com/sssniperwolf/status/123426...,NaN,"[{'user_id': '1317654776', 'username': 'KCUNLE..."
2,1234267140955336704,1.234254e+18,1583107192000,2020-03-01,"It's target are your lungs, don't give it acce...",[],3.199808e+09,1spark780,Judy,https://twitter.com/1spark780/status/123426714...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '3199808368', 'username': '1spark..."
3,1234267136018665472,1.234259e+18,1583107191000,2020-03-01,The new police issue masks might not prevent c...,[],3.931759e+09,hueman_being,Ken Parker,https://twitter.com/hueman_being/status/123426...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '3931759154', 'username': 'hueman..."
4,1234267124304154625,1.234267e+18,1583107188000,2020-03-01,hey i‚Äôm sad so i‚Äôm gonna do a face mask and th...,[],4.252255e+08,beratings,baby bug,https://twitter.com/beratings/status/123426712...,False,14.0,1.0,0.0,NaN,NaN,"[{'user_id': '425225495', 'username': 'beratin..."

### Second half

[[go back to the top](#Data-Cleaning)]

In [405]:
# load dataframes
mar17_10k = pd.read_csv('data/10k_march17_tweets.csv', index_col=0)
mar18_10k = pd.read_csv('data/10k_march18_tweets.csv', index_col=0, encoding='utf8', engine='python')

# combine, reset index, and check shape
mar17_clean_10k = pd.concat([mar17_10k, mar18_10k])
mar17_clean_10k.reset_index(drop=True, inplace=True)
mar17_clean_10k.shape

(143294, 17)

In [407]:
# drop rows with all NaN values
mar17_clean_10k.dropna(how='all', inplace=True)

# check
mar17_clean_10k.shape

(143292, 17)

In [409]:
# check for any strange values
mar17_clean_10k['date'].unique()

array(['2020-03-17', '2020-03-18', '2020-03-19', 'Combo Gadgets',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', 'Stat Butler', '2020-03-30',
       '2020-03-31'], dtype=object)

In [410]:
# look at instances with scraping error 
mar17_clean_10k[mar17_clean_10k['date'] == 'Combo Gadgets']
mar17_clean_10k[mar17_clean_10k['date'] == 'Stat Butler']

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
121954,[],9.819696e+17,stat_butler,Stat Butler,https://twitter.com/stat_butler/status/1244265...,False,0.0,0,0,NaN,NaN,"[{'user_id': '981969608277135360', 'username':...",NaN,NaN,None,NaN,None
122265,[],9.819696e+17,stat_butler,Stat Butler,https://twitter.com/stat_butler/status/1244260...,False,0.0,0,1,NaN,NaN,"[{'user_id': '981969608277135360', 'username':...",NaN,NaN,None,NaN,None

In [411]:
# drop those rows
mar17_clean_10k.drop(index=[22752, 121954, 122265], inplace=True)

# check
mar17_clean_10k.shape

(143289, 17)

In [412]:
# reset index
mar17_clean_10k.reset_index(drop=True, inplace=True)

# check
mar17_clean_10k.shape

(143289, 17)

In [418]:
# combine with first half of march
mar_clean_10k = pd.concat([mar01_clean, mar17_clean_10k])

# check shape
mar_clean_10k.shape

(839247, 17)

In [431]:
# drop duplicate tweets and/or retweets
mar_clean_10k = mar_clean_10k.drop_duplicates(subset='tweet')

# check
mar_clean_10k.shape

(830115, 17)

In [432]:
# check for remaining NaN values
mar_clean_10k.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags               10
user_id                10
username               10
name                   42
link                   10
retweet                10
nlikes                 10
nreplies               10
nretweets              10
quote_url          764081
retweet_id         830115
reply_to               10
dtype: int64

In [433]:
# drop any tweets missing a value for name or username (takes care of other NaN values)
mar_clean_10k.dropna(subset=['name', 'username'], inplace=True)

# check
mar_clean_10k.shape

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(830073, 17)

In [436]:
# reset index
mar_clean_10k.reset_index(drop=True, inplace=True)

# check
mar_clean_10k.shape

(830073, 17)

In [ ]:
# drop quote_url and retweet_id columns
mar_clean_10k.drop(columns=['quote_url', 'retweet_id'], inplace=True)

In [437]:
# save to csv
mar_clean_10k.to_csv('data/mar_tweets_clean_10k_from_17th.csv')

### April

[[go back to the top](#Data-Cleaning)]

In [448]:
apr_10k = pd.read_csv('data/10k_april_tweets.csv', index_col=0)
apr_10k.shape

/Users/eric/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,4,5,6,8,9,10,11,12,15,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(334598, 17)

In [450]:
apr_10k['date'].unique()

array(['2020-04-01', '2020-04-02', '2020-04-03', nan, 'Thomas Paine ‚úä',
       '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
       '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
       '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
       '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
       '2020-04-28', '2020-04-29', '2020-04-30'], dtype=object)

In [451]:
# create a copy to clean
apr_clean_10k = apr_10k.copy()

# check shape
apr_clean_10k.shape

(334598, 17)

In [452]:
# drop rows with all NaN values
apr_clean_10k.dropna(how='all', inplace=True)

# check
apr_clean_10k.shape

(299811, 17)

In [455]:
# check for NaN values
apr_clean_10k.isna().sum()

id                      0
conversation_id         0
created_at              0
date                    0
tweet                   0
hashtags             2019
user_id              2019
username             2019
name                 2025
link                 2020
retweet              2020
nlikes               2019
nreplies             2020
nretweets            2020
quote_url          280944
retweet_id         299811
reply_to             2020
dtype: int64

In [458]:
# drop any tweets missing a value for name or username  or link (takes care of other NaN values)
apr_clean_10k.dropna(subset=['name', 'username', 'link'], inplace=True)

# check
apr_clean_10k.shape

(297785, 17)

In [460]:
# confirm no weird scrapes
apr_clean_10k['date'].unique()

array(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30'], dtype=object)

In [461]:
# reset index
apr_clean_10k.reset_index(drop=True, inplace=True)

# check
apr_clean_10k.shape

(297785, 17)

In [ ]:
# drop quote_url and retweet_id columns
apr_clean_10k.drop(columns=['quote_url', 'retweet_id'], inplace=True)

In [462]:
# save to csv
apr_clean_10k.to_csv('data/apr_tweets_clean_10k.csv')

### May

[[go back to the top](#Data-Cleaning)]

*NOTE: the DataFrame for May was cleaned using a lost notebook and will be imported below.*

## Downsize to 5,000 tweets per day

[[go back to the top](#Data-Cleaning)]

- Prelimary work has shown us that we have too much data to compute efficiently.
- To account for this, we'll be downsizing to a maximum of 5000 tweets per day.

In [463]:
# look at shapes of each dataframe
jan_clean.shape, feb_clean.shape, mar_clean_10k.shape, apr_clean_10k.shape

((450464, 17), (536865, 17), (830073, 17), (297785, 17))

In [464]:
# set up a filter and only use tweets that contain at least one of these terms
filt = 'covid|dead|death|doctor|infect|novel|nurse|outbreak|rona|sars|viral|virus|wuhan'

jan_5k = jan_clean[jan_clean['tweet'].str.contains(filt)].groupby('date').head(5000)
jan_5k.reset_index(drop=True, inplace=True)

feb_5k = feb_clean[feb_clean['tweet'].str.contains(filt)].groupby('date').head(5000)
feb_5k.reset_index(drop=True, inplace=True)

mar_5k = mar_clean_10k[mar_clean_10k['tweet'].str.contains(filt)].groupby('date').head(5000)
mar_5k.reset_index(drop=True, inplace=True)

apr_5k = apr_clean_10k[apr_clean_10k['tweet'].str.contains(filt)].groupby('date').head(5000)
apr_5k.reset_index(drop=True, inplace=True)

# look at new shapes
jan_5k.shape, feb_5k.shape, mar_5k.shape, apr_5k.shape

((40724, 17), (78094, 17), (152131, 17), (150000, 17))

In [465]:
# check out daily tweet counts for january
jan_5k[jan_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-01-01      91
2020-01-02     157
2020-01-03     156
2020-01-04     155
2020-01-05     174
2020-01-06     192
2020-01-07     164
2020-01-08     168
2020-01-09     178
2020-01-10     163
2020-01-11     120
2020-01-12     215
2020-01-13     175
2020-01-14     192
2020-01-15     188
2020-01-16     144
2020-01-17     156
2020-01-18     124
2020-01-19     110
2020-01-20     347
2020-01-21     725
2020-01-22    1183
2020-01-23    1985
2020-01-24    2331
2020-01-25    3324
2020-01-26    3879
2020-01-27    3928
2020-01-28    5000
2020-01-29    5000
2020-01-30    5000
2020-01-31    5000
Name: tweet, dtype: int64

In [466]:
# check out daily tweet counts for february
feb_5k[feb_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-02-01    4057
2020-02-02    3792
2020-02-03    3080
2020-02-04    2960
2020-02-05    2309
2020-02-06    2614
2020-02-07    3202
2020-02-08    2322
2020-02-09    1914
2020-02-10    2450
2020-02-11    2131
2020-02-12    1875
2020-02-13    2135
2020-02-14    1948
2020-02-15    1398
2020-02-16    1719
2020-02-17    1540
2020-02-18    1536
2020-02-19    1415
2020-02-20    1349
2020-02-21    1760
2020-02-22    1563
2020-02-23    1993
2020-02-24    2877
2020-02-25    4155
2020-02-26    5000
2020-02-27    5000
2020-02-28    5000
2020-02-29    5000
Name: tweet, dtype: int64

In [467]:
# check out daily tweet counts for march [note: reason for strange dip for march 28 remains unsolved]
mar_5k[mar_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-03-01    5000
2020-03-02    5000
2020-03-03    5000
2020-03-04    5000
2020-03-05    5000
2020-03-06    5000
2020-03-07    5000
2020-03-08    5000
2020-03-09    5000
2020-03-10    5000
2020-03-11    5000
2020-03-12    5000
2020-03-13    5000
2020-03-14    5000
2020-03-15    5000
2020-03-16    5000
2020-03-17    5000
2020-03-18    5000
2020-03-19    5000
2020-03-20    5000
2020-03-21    5000
2020-03-22    5000
2020-03-23    5000
2020-03-24    5000
2020-03-25    5000
2020-03-26    5000
2020-03-27    5000
2020-03-28    2131
2020-03-29    5000
2020-03-30    5000
2020-03-31    5000
Name: tweet, dtype: int64

In [468]:
# check out daily tweet counts for april
apr_5k[apr_5k.tweet.str.contains(filt)].groupby('date')['tweet'].count()

date
2020-04-01    5000
2020-04-02    5000
2020-04-03    5000
2020-04-04    5000
2020-04-05    5000
2020-04-06    5000
2020-04-07    5000
2020-04-08    5000
2020-04-09    5000
2020-04-10    5000
2020-04-11    5000
2020-04-12    5000
2020-04-13    5000
2020-04-14    5000
2020-04-15    5000
2020-04-16    5000
2020-04-17    5000
2020-04-18    5000
2020-04-19    5000
2020-04-20    5000
2020-04-21    5000
2020-04-22    5000
2020-04-23    5000
2020-04-24    5000
2020-04-25    5000
2020-04-26    5000
2020-04-27    5000
2020-04-28    5000
2020-04-29    5000
2020-04-30    5000
Name: tweet, dtype: int64

In [ ]:
# save clean dataframes
jan_5k = pd.to_csv('data/5k_jan_tweets.csv', index_col=0)
feb_5k = pd.to_csv('data/5k_feb_tweets.csv', index_col=0)
mar_5k = pd.to_csv('data/5k_mar_tweets.csv', index_col=0)
apr_5k = pd.to_csv('data/5k_apr_tweets.csv', index_col=0)

## Combine DataFrames

[[go back to the top](#Data-Cleaning)]

*NOTE: the DataFrame for May was cleaned using a lost notebook and will be imported below.*

- Import DataFrames.
- Combine DataFrames.
- Save.

In [2]:
# import dataframes
jan_5k = pd.read_csv('data/5k_jan_tweets.csv', index_col=0)
feb_5k = pd.read_csv('data/5k_feb_tweets.csv', index_col=0)
mar_5k = pd.read_csv('data/5k_mar_tweets.csv', index_col=0)
apr_5k = pd.read_csv('data/5k_apr_tweets.csv', index_col=0)
may_5k = pd.read_csv('data/5k_may_tweets.csv', index_col=0)

# check shapes 
jan_5k.shape, feb_5k.shape, mar_5k.shape, apr_5k.shape, may_5k.shape

((40724, 17), (78094, 17), (152131, 17), (150000, 17), (155000, 15))

In [9]:
# combine dataframes
df = pd.concat([jan_5k, feb_5k, mar_5k, apr_5k, may_5k])

# check shape
df.shape

(575949, 17)

In [10]:
# reset index
df.reset_index(drop=True, inplace=True)

# take a look at the first 5 rows
df.head()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
0,1.212523e+18,1.212523e+18,1.577923e+12,2020-01-01,"https://mltshp.com/p/1HLSB¬† ""This is the deat...",[],8.431951e+17,Best_of_MLTSHP,MLTSHP,https://twitter.com/Best_of_MLTSHP/status/1212...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '843195118924546048', 'username':..."
1,1.212518e+18,1.212518e+18,1.577922e+12,2020-01-01,Ready to heard this? Homemade hair treatment a...,[],1.044739e+18,lumora_lu,MiLu,https://twitter.com/lumora_lu/status/121251804...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '1044738746913034241', 'username'..."
2,1.212518e+18,1.212518e+18,1.577922e+12,2020-01-01,We all know what a joke #CCPChina is when it c...,"['#ccpchina', '#sars', '#hk', '#hkers']",9.630325e+17,odiecher,odiecher,https://twitter.com/odiecher/status/1212517557...,False,1.0,1.0,1.0,https://twitter.com/WBYeats1865/status/1212430...,NaN,"[{'user_id': '963032516759207936', 'username':..."
3,1.212516e+18,1.200523e+18,1.577921e+12,2020-01-01,Thought death masks gave you the horn freak,[],2.819219e+09,Hevysmoker,Ashley Collins,https://twitter.com/Hevysmoker/status/12125155...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '2819219369', 'username': 'Hevysm..."
4,1.212510e+18,1.212391e+18,1.577920e+12,2020-01-01,"Interesting cult of death mask he‚Äôs wearing, ü§î...",[],2.361956e+08,FaithR8s,‚ùåPatriot Fanüá∫üá∏üóΩ‚òïÔ∏èüé∂‚ùå,https://twitter.com/FaithR8s/status/1212510409...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '236195607', 'username': 'FaithR8..."

In [11]:
# look at the last 5 rows
df.tail()

,id,conversation_id,created_at,date,tweet,hashtags,user_id,username,name,link,retweet,nlikes,nreplies,nretweets,quote_url,retweet_id,reply_to
575944,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Cuomo urges protesters to 'demonstrate with a ...,[],3.424594e+08,chrisusanz,Christopher,https://twitter.com/chrisusanz/status/12669917...,False,0.0,0.0,0.0,NaN,NaN,"[{'user_id': '342459363', 'username': 'chrisus..."
575945,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Advantages of wearing face masks: \n1. Haven‚Äôt...,"['#covid19', '#coronapandemic', '#sundayvibes']",1.361908e+09,HusaynZ,Rogue Aviator üáµüá∞,https://twitter.com/HusaynZ/status/12669916005...,False,62.0,10.0,11.0,NaN,NaN,"[{'user_id': '1361908454', 'username': 'Husayn..."
575946,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,The model of South Korea will have to be follo...,[],3.223174e+09,moussetafaa,Mustafa,https://twitter.com/moussetafaa/status/1266991...,False,0.0,1.0,0.0,NaN,NaN,"[{'user_id': '3223174388', 'username': 'mousse..."
575947,1.266992e+18,1.266992e+18,1.590909e+12,2020-05-31,Aeroflot: passengers must change face masks ev...,"['#aviation', '#airline', '#aircraft', '#covid...",1.545939e+07,SpeedBird_NCL,SpeedBird,https://twitter.com/SpeedBird_NCL/status/12669...,False,1.0,0.0,0.0,NaN,NaN,"[{'user_id': '15459391', 'username': 'SpeedBir..."
575948,1.266991e+18,1.266991e+18,1.590909e+12,2020-05-31,Corona said mask on 2020 said fuck it mask off...,[],7.181234e+17,sharunbelll,moona love ‚ù£Ô∏è,https://twitter.com/sharunbelll/status/1266991...,False,1.0,0.0,1.0,NaN,NaN,"[{'user_id': '718123376804376576', 'username':..."

### Save

[[go back to the top](#Data-Cleaning)]

In [12]:
# save!
df.to_csv('data/jan_thru_may_5k_tweets_clean.csv')